@font-face{
	font-family : raleway;
	src : url(../fonts/Raleway-Regular.ttf);
	src : url(../fonts/Raleway-Black.ttf);
	src : url(../fonts/Raleway-Bold.ttf);
	src : url(../fonts/Raleway-ExtraBold.ttf);
	src : url(../fonts/Raleway-ExtraLight.ttf);
	src : url(../fonts/Raleway-Light.ttf);
	src : url(../fonts/Raleway-Medium.ttf);
}
.content-wrapper{
	background-color: #f7f7f7;
}
.table-heading th {
	font-size: .8rem;
}
.card-body-icon .fa {
	color: #f5a557;
}